* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0d1117;
  font-family: Inter, sans-serif;
  color: white;

  display: flex;
  justify-content: center;

  padding: 20px;
}

.card {
  width: 100%;
  max-width: 700px;

  background: #161b22;

  border: 1px solid #30363d;

  border-radius: 24px;

  padding: 24px;

  box-shadow:
    0 0 30px rgba(0,0,0,.4);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 24px;
}

.header h1 {
  font-size: 2rem;
}

.header span {
  color: #8b949e;
}

.section-title {
  color: #e10600;
  font-size: 0.9rem;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

.race-name {
  font-size: 2rem;
  font-weight: bold;

  margin-bottom: 20px;
}

.session-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.session,
.countdown {
  background: #0d1117;

  border: 1px solid #30363d;

  border-radius: 16px;

  padding: 20px;
}

.session-label {
  color: #e10600;
  font-weight: 600;
  margin-bottom: 12px;
}

.session-time {
  font-size: 1.3rem;
}

.count-label {
  color: #8b949e;
  margin-bottom: 12px;
}

#countdown {
  color: #e10600;
  font-size: 2rem;
  font-weight: bold;
}

.divider {
  height: 1px;
  background: #30363d;
  margin: 25px 0;
}

.schedule-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 0;

  border-bottom: 1px solid #222;
}

.schedule-item:last-child {
  border-bottom: none;
}

.schedule-time {
  color: #8b949e;
}

.next {
  color: #e10600;
  font-weight: bold;
}


body.light-mode{
  background: #f5f5f7;
  color: #1d1d1f;
}

body.light-mode.card {
  background: white;
  border: 1px solid #d0d7de;
}
body.light-mode .divider {
  background: #ddd;
}

body.light-mode .header span,
body.light-mode .schedule-time,
body.light-mode .count-label {
color: #555;
}
